# ============================
# Visual Studio / CMake
# ============================

# Системні папки VS
.vs/
*.VC.db
*.VC.VC.opendb

# Кеш CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
_compile_commands.json
CMakeUserPresets.json.user
CMakeSettings.json.user

# Каталоги збірки та проміжні файли
WarehouseSys/configs/db_config.json
build/
out/
bin/
obj/
RelWithDebInfo/
MinSizeRel/
Debug/
Release/

# Тимчасові файли компіляції
*.obj
*.pdb
*.exe
*.dll
*.lib
*.exp
*.ilk
*.idb
*.sdf
*.tlog
*.log
*.cache
*.lastbuildstate

# Конфігураційні файли користувача
*.user
*.suo
*.userosscache
*.userprefs

# Журнали, резервні копії, тимчасові дані
*.tmp
*.bak
*.swp
*.zip
*.7z

# ============================
# Не ігнорувати вихідні файли проекту
# ============================
!CMakeLists.txt
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.h
!*.hpp
!*.cpp
!*.c
!include/
!src/       # якщо є конфіги, які потрібні у репозиторії


# --- React Frontend ---
WarehouseSysFrontend/node_modules/
WarehouseSysFrontend/dist/
WarehouseSysFrontend/build/
WarehouseSysFrontend/.env
WarehouseSysFrontend/.env.local
WarehouseSysFrontend/.env.*.local

# Logs
WarehouseSysFrontend/logs
*.log
WarehouseSysFrontend/npm-debug.log*
WarehouseSysFrontend/yarn-debug.log*
WarehouseSysFrontend/yarn-error.log*

# Editor directories and files
.vscode/*
WarehouseSysFrontend/.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
